/* Matrix giphy background */
/* vanilla embed link */
<iframe src="https://giphy.com/embed/Y0cKnGMCBTNTi" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-matrix-Y0cKnGMCBTNTi">via GIPHY</a></p>

/* responsive embed link */
<div style="width:100%;height:0;padding-bottom:69%;position:relative;"><iframe src="https://giphy.com/embed/Y0cKnGMCBTNTi" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/the-matrix-Y0cKnGMCBTNTi">via GIPHY</a></p>

/* optimized for social sharing */
https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif

/* optimized for file size */
https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif

/* background image */
https://octodex.github.com/images/class-act.jpg 

/* Drink Images */
Console Lager
APIPA
sweet truthy vermouth manhattan
404 Loco
null-timate nachos
Virgin daquery
Virgin jQuery
Strawberry daQuery


/* Food Images */
New england clam router, avocado post
203 cheese pizza
.split() pea soup

