* {
  text-align: center;
}

.drinksDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url('https://i.imgur.com/fheeOpc.jpg');
  font-family: "courier"
}

.drinksDisplay {
  margin-top: 20px;
  display: flex;
}

.card {
  border: 3px solid black;
}
.nav-wrapper {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  color: black;
  border: 0px;
  font-family: "courier"
}

.navLinking {
  display: inline;
}

nav {
  background-color: transparent;
  color: black;
}

.login {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin: 0px 20px;
}

form {
  border: 3px solid black;
  text-align: left;
  background: lightgray;
  opacity: 0.6;
}

input {
  border-bottom: 5px solid black;
}

label {
  font-size: 30px;
  color: black;
}

