* {
  text-align: center;
}

.drinksDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url('https://i.imgur.com/fheeOpc.jpg');
  font-family: "courier"
}

.drinksDisplay {
  margin-top: 20px;
  display: flex;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
}

.card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

.nav-wrapper {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  color: black;
  border: 0px;
  font-family: "courier"
}

.card-reveal {
  font-size: 17px;
}

.navLinking {
  display: inline;
}

nav {
  background-color: transparent;
  color: black;
}

.logo {
  background-image: url('https://i.imgur.com/fdE9N4n.png');
  display: inline-block;
}

form {
  border: 3px solid black;
  text-align: left;
  color: black;
  background: lightgray;
  opacity: 0.7;
}

input {
  border-bottom: 5px solid black;
}

label {
  font-size: 30px;
  color: black;
}