 * {
    text-align: center;
  }

  
  /* div {
    border: 1px solid black;
    margin: 20px;
  } */
   
  /* a {
    padding: 30px;
  } */
  
  /* label {
    margin: 10px;
  } */
  
  .drinksDisplay {
    margin-top: 20px;
    display: flex;
  }

  .card {
    border: 3px solid gold;
  }

  .nav-wrapper {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 0px 20px;
  }
 
.login {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border: 1px solid black;
}
  .card-title {
    border: .5px solid black;
  }

 
  
  